################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode/extensions.json
/AzureFunctions/.vscode
/BlazorGoogleAuth/.vs
